{{ define "main" }}
<article class="single">
  <header class="single-header">
    <h1>{{ .Title }}</h1>
    <div class="single-meta">
      {{ if .Params.period }}
        <span>{{ .Params.period }}</span>
      {{ else if .Params.lastmod }}
        <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
      {{ else if .Params.date }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      {{ end }}
      {{ with .Params.event }}<span class="single-event">{{ . }}</span>{{ end }}
      {{ with .Params.organization }}<span class="single-event">{{ . }}</span>{{ end }}
      {{ with .Params.role }}<span class="single-event">{{ . }}</span>{{ end }}
      {{ with .Params.authors }}<p class="single-authors">{{ . }}</p>{{ end }}
    </div>
    <div class="single-links">
      {{ with .Params.pdf }}<a href="{{ . }}" class="btn btn-sm" target="_blank">PDF</a>{{ end }}
      {{ with .Params.slides }}<a href="{{ . }}" class="btn btn-sm" target="_blank">Slides</a>{{ end }}
      {{ with .Params.video }}<a href="{{ . }}" class="btn btn-sm" target="_blank">Video</a>{{ end }}
      {{ with .Params.link }}<a href="{{ . }}" class="btn btn-sm" target="_blank">Link</a>{{ end }}
    </div>
  </header>
  <div class="single-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
